doctype html
html
    head
        script(src="https://kit.fontawesome.com/3d45c83e6d.js",crossorigin="anonymous")
        title #{siteName}
    body
        include ../partials/header

        main
            block content
        include ../partials/footer